In [0]:
%sql
USE CATALOG JPM;
CREATE SCHEMA IF NOT EXISTS vinoth;
USE SCHEMA vinoth;

In [0]:
df = spark.read.csv("/Volumes/jpm/vinoth/csv/1000_richest_people_in_the_world.csv", header=True, inferSchema=True)

In [0]:
df1 = df.withColumnRenamed("Name", "name").withColumnRenamed("Net Worth (in billions)","net_worth_in_billion")

In [0]:
%sql
use schema vinoth

In [0]:
df1.write.mode('overwrite').saveAsTable("richest_people")

In [0]:
%sql

SELECT * FROM vinoth.richest_people